before_script:
  - uname -a 
  - cat /etc/lsb-release
  - sudo apt-get update -q
  - sudo apt-get install -q fonts-arphic-gbsn00lp fonts-arphic-ukai ttf-wqy-microhei ttf-wqy-zenhei
  - sudo apt-get install -q texlive-xetex texlive-latex-recommended texlive-latex-extra
  - sudo apt-get install -q texlive-fonts-recommended
  - sudo apt-get install -q curl
  - sudo apt-get install -q wget
  - mkdir -pv ~/.cabal/bin/
  - wget http://www.rt-thread.com/download/tools/pandoc.tar.gz -O ~/.cabal/bin/pandoc.tar.gz
  - tar -vxf ~/.cabal/bin/pandoc.tar.gz -C ~/.cabal/bin/
  - chmod +x  ~/.cabal/bin/pandoc
  - ~/.cabal/bin/pandoc -v
  - export PATH=~/.cabal/bin:$PATH

env:
  global:
    - secure: "O5U/e5r6b1Pq1c3EvGGK76DlHbIFsoSJsRaD0PJ3swNdZJR5lALrR3SaLm+s\nF70uI6nQxeNUjGh0MPIMQmDO7xIuUHUsVmN95YZJq/vJTzND6JtXK6LmImvS\ncBkSyWMm5JLpmaglDwVkmu7B7/PIdpM5Pe63xYg8xwZ+ApRwcvk="

rvm:
  - 1.9.3
script: 
  - chmod +x mkbok
  - ./mkbok --lang zh --build pdf
  - curl -F "file=@rtthread_manual.zh.pdf;type=application/octet-stream" http://download.rt-thread.org/download/manual/manual_upload.php

